<section>
    <input class="form-control" type="email" required id="email" name="email" placeholder="Email" onsubmit="return addEmail(this)">
    <button class="btn btn-primary" type="submit">Enviar</button>
</section>