<section>
    <h2>Agrega camisetas</h2>
    <form class="m-3 p-3 justify-content-center" action="" onsubmit="return addProduct(this)" method="post" >
        <div class="d-flex flex-column">
            <input type="text" id="name" name="name" placeholder="Producto">
            <input type="text" id="thumbnail" name="thumbnail" placeholder="Link de foto">
            <input type="number" id="price" name="price" placeholder="Precio">
        </div>
        <button type="submit" class="btn btn-primary ">Agregar</button>
    </form>
    <!-- lista  de productos -->
    <!-- en action va la ruta   /api/productos/nuevoProducto-->
</section>